body {
    margin: 0;
}

/* navbar */
nav {
    background-color: black;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 35px;
    z-index: 100;
}
.navlink {
    color: hsl(0, 0%, 95%);
    margin: 7px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}
.navlink:hover {
    color: hsl(150, 64%, 55%);
}

/* header */
header {
    background-color: hsl(150, 64%, 45%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='218' height='218' viewBox='0 0 120 120'%3E%3Cpolygon fill='%2300ad6e' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
    /* background by SVGBackgrounds.com */
    background-position: 0 35px;
    animation: headeranim 60s linear infinite;
    margin: 0;
    color: hsl(0, 95%, 100%);
    text-align: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
@keyframes headeranim {
    0% {
        background-position: 0px 35px;
    }
    100% {
        background-position: 0px 1127px;
    }
}
header > h1 {
    position: relative;
    margin: 0;
    top: 30%;
    text-shadow: 3px 3px rgba(0,0,0,0.2);
    font-size: 4.0em;
}
header > h2 {
    position: relative;
    margin: 0;
    top: 32%;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
}
.learnmore {
    position: relative;
    top: 35vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    background-color: hsla(150, 64%, 45%,0);
    color: hsl(0, 95%, 100%);
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    padding: 5px 10px 5px 10px;
    border: 2px solid hsl(0, 95%, 100%);
    border-radius: 5px;
}
.learnmore:hover {
    animation-name: buttonfill;
    animation-duration: 0.2s;
    animation-fill-mode: forwards; 
}
@keyframes buttonfill {
    100% {
        background-color: hsl(0, 0%, 95%);
        color: hsl(0, 0%, 20%);
        text-shadow: 0 0 0;
    }
}

/* about section */
section {
    padding: 0;
}
.about {
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.about > h1 {
    margin: 0 0 0 10vw;
    font-size: 3.0em;
}
.about > h2 {
    margin: 0 0 0 10vw;
    font-size: 2.0em;
}
.about > h3 {
    font-size: 1.3em;
}
.about > p {
    margin: 0 10vw 0 30vw;
    padding: 0.5em;
    font-size: 1.3em;
    text-align: justify;
}
.greenstrong {
    color: hsl(150, 64%, 40%);
}
.skills {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.skillbox {
    background-color: hsl(0, 0%, 98%);
    padding: 5px 20px 5px 20px;
    margin: 0 3vw 0 3vw;
    border: 3px solid hsl(150, 64%, 45%);
    border-radius: 10px;
    width: 125px;
}
.skillbox > h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* projects section */
.projects {
    background-color: hsl(150, 64%, 45%);
    color: hsl(0, 0%, 95%);
    margin: 0;
    font-family: 'Railway', sans-serif;
}
.project-display {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.projects > h1 {
    margin: 0 0 0 10vw;
    font-size: 3.0em;
}
.projectbox {
    background-color: hsl(0, 0%, 95%);
    color: black;
    border-radius: 5px;
    box-shadow: 0 6px 25px rgba(0,0,0,0.2);
    width: 22vw;
    padding: 5px 20px 5px 20px;
}
.projectbox > p {
    font-size: 0.9em;
}
.viewproject {
    width: 100px;
    background-color: transparent;
    border: 3px solid hsl(150, 64%, 45%);
    border-radius: 5px;
    padding: 3px;
    color: hsl(150, 64%, 40%);
    font-family: 'Poppins', sans-serif;
}
.viewproject:hover {
    animation: viewprojecthover 0.2s ease;
    animation-fill-mode: forwards;
}
@keyframes viewprojecthover {
    100% {
        background-color: hsl(150, 64%, 45%);
        color: hsl(0, 0%, 95%);
    }
}

/* contact section */
.contact {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 95%);
    margin: 0;
    font-family: 'Railway', sans-serif;
    text-align: center;
}
.contactlink {
    text-decoration: none;
    color: hsl(0, 0%, 95%);
}
.contactlink:hover {
    color: hsl(150, 64%, 55%);
}
.contact > p {
    margin: 0;
    padding: 0.3em;
}
.contact > h1 {
    margin: 0;
    font-size: 2.0em;
}

/* media queries */
@media (max-width: 670px) {
    .about > p {
        font-size: 1.1em;
        text-align: left;
    }
}

@media (max-width: 560px) {
    .skills, .project-display {
        flex-direction: column;
        align-items: center;
    }
    .skillbox, .projectbox {
        width: 200px;
        margin: 10px 0 10px 0;
    }
}