{% extends 'blog/post_base.html' %}

{% block title_block %}
Alex Garrett - Blog
{% endblock %}

{% block article_block %}
  {% if posts %}
    {% for post in posts %}
    <article>
      <h1>{{ post.title }}</h1>
      <p>Posted on:
        <time datetime="{{ post.created|date:'c' }}">
          {{ post.created|date }}
        </time>
      </p>
      {{ post.description|safe }}
      <p>
        <a href="{{ post.get_absolute_url }}">
            <button class="readmore">Read more</button></a>
      </p>
    </article>
    {% endfor %}

  {% else %}
    <h3>There are no posts</h3>
  {% endif %}
  {% if posts.has_other_pages %}
    <div class="pagination">
        <span class="previous-page">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}" class="previous-page">
                << Previous page</a>
            {% endif %}
        </span>
        <span class="next-page">
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">
                    Next page >></a>
            {% endif %}
        </span>
    </div>
  {% endif %}
{% endblock %}
