{% extends 'blog/post_base.html' %}

{% block title_block %}
Posts in '{{ category.title }}' - Alex Garrett
{% endblock %}

{% block article_block %}
<article>
    <h1>Posts in '{{ category.title }}':</h1>
</article>
{% if posts %}
    {% for post in posts %}
    <article>
      <h1>{{ post.title }}</h1>
      <p>Posted on:
        <time datetime="{{ post.created|date:'c' }}">
          {{ post.created|date }}
        </time>
      </p>
      {{ post.description|safe }}
      <p>
        <a href="{{ post.get_absolute_url }}">
            <button class="readmore">Read more</button></a></p>
    </article>
    <br>
    {% endfor %}
  {% endif %}

{% endblock %}
