{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alex Garrett - Full Stack Web Developer</title>
    <link rel="stylesheet" href="{%static 'blog/css/home.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="#about" class="navlink">About</a>
        <a href="#work" class="navlink">Work</a>
        <a href="{% url 'blog-index' %}" class="navlink">Blog</a>
        <a href="#contact" class="navlink">Contact</a>
    </nav>
    <header>
        <div class="header-text">
           <h1>Alex Garrett</h1>
            <h2>Full stack web developer</h2>
            <br>
            <a href="#about" accesskey="s">
                <button class="learnmore"><strong>See my work</strong></button>
            </a>
        </div>

    </header>
    <section class="about" id="about">
        <br>
        <br>
        <h1>About</h1>
        <p>Hi there, I'm <strong class="greenstrong">Alex Garrett</strong>, a
            full stack web developer from Michigan. I'm passionte about
            building secure and performant web services, and I prioritize writing
            code that is <strong class="greenstrong">clear</strong>,
            <strong class="greenstrong">concise</strong>, and
            <strong class="greenstrong">correct</strong>.
            I'm highly self-motivated, and I'm always learning something new.
            See what I have to offer below!
        </p>
        <br>
        <h2>Skills</h2>
        <br>
        <div class="skills">
            <div class="skillbox">
                <h3>Front End</h3>
                <p><strong>HTML5</strong></p>
                <p><strong>CSS3</strong></p>
                <p><strong>ES6+ JavaScript</strong></p>
            </div>
            <div class="skillbox">
                <h3>Back End</h3>
                <p><strong>Django</strong></p>
                <p><strong>Node / Express</strong></p>
                <p><strong>SQL</strong></p>
            </div>
            <div class="skillbox">
                    <h3>Specialties</h3>
                    <p><strong>Functional programming</strong></p>
                    <p><strong>Writing documentation</strong></p>
                </div>
        </div>
        <br>
        <br>
    </section>
    <section class="projects" id="work">
        <br>
        <br>
        <h1>Projects</h1>
        <br>
        <div class="project-display">
            <div class="projectbox">
                <div class="projectimage">
                    <img src="/static/blog/images/projects/blog_thumbnail.png"
                        alt="Blog thumbnail">
                </div>
                <h3>alexgarrett.tech</h3>
                <p>My personal website, built with Python and Django.
                    Includes CRUD functionality and interaction with a
                    SQL database.
                </p>
                <div style="text-align:center">
                        <button class="projectdetail" id="django-blog-button">
                            <strong>Learn More</strong>
                        </button>
                </div>
            </div>
        </div>
        <br>
        <br>
    </section>
    <section class="contact" id="contact">
        <h1>Contact</h1>
        <p><a href="mailto:alex@alexgarrett.tech" class="contactlink">Email</a></p>
        <p><a target="_blank" href="https://github.com/amgarrett09" class="contactlink">Github</a></p>
        <br>
        <p>&copy; 2018-2019 Alex Garrett</p>
    </section>
    <div class="project-popup pop-disabled" id="django-blog-popup">
        <div style="text-align: right">
            <a href="" class="close-popup">Close</a>
        </div>
        <h1>alexgarrett.tech</h1>
        <p>
            <strong>Challenge</strong>: I needed a web-site and a blog to showcase the projects
            I'm working on. The blog app needed to allow me to easily
            create, edit, and publish posts, all while having good security.
        </p>
        <p>
            <strong>Solution</strong>: I built a blog app from the ground up with the help of
            the Django web framework. I learned about MVC-style web development,
            writing models to handle database entries, and using Python functions
            to serve the content to the user. I implemented forms for post-creation
            that have Markdown support, and on the back-end there is robust validation
            and HTML-escaping to prevent cross-site scripting and similar attacks.
        </p>
        <p>
            <strong>Result</strong>: The blog on alexgarrett.tech is fast and reliable application
            that has exactly the features I need without bloat. Additionally,
            the app is secure, preventing XSS and CSRF attacks. In the process
            of building it I also became quite familiar with Django and Python.
        </p>
        <div style="text-align:center">
            <a target="_blank" href="{% url 'blog-index' %}">
                <button class="viewproject"><strong>View Site</strong></button>
            </a>
        </div>
        <br>
        <br>
    </div>
    <!--smooth-scroll polyfill-->
    <script src="https://unpkg.com/smoothscroll-polyfill@0.4.3/dist/smoothscroll.min.js"></script>
    <script src="{% static 'blog/js/home.js' %}"></script>
</body>
</html>