<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title_block %}
        {% endblock %}
    </title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/vs2015.css' %}">
</head>
<body>
    <header>
        <h1>Alex Garrett</h1>
        <h2>Blog</h2>
    </header>
    <nav>
        <a href="{% url 'home' %}" class="navlink">Home</a>
        <a href="{% url 'blog-index' %}" class="navlink">Blog</a>
        {% if user.is_superuser %}
            <a href="{%url 'blog-dashboard' %}" class="navlink">Dashboard</a>
        {% endif %}
    </nav>
    <br>
    <br>
    <div class="container">
        <div class="articles">
            {% block article_block %}
            {% endblock %}
        </div>
        <div class="sidebar">
            <div class="about">
                <h1>About</h1>
                I'm Alex Garrett, a full stack web developer from Michigan.
                <h2>Links</h2>
                <p><a target ="_blank" href="/">Portfolio</a></p>
                <p><a href="mailto:alex@alexgarrett.tech">Email</a></p>
                <p><a target="_blank" href="https://github.com/amgarrett09/">Github</a></p>
            </div>
            <div class="categories">
                <h1>Categories</h1>
                {% if categories %}
                    {% for category in categories %}
                        <p><a href="{{ category.get_absolute_url  }}">
                            {{  category.title }}</a> ({{ category.count_posts }})</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <footer>
        <br>
        <p>&copy;2018-2019 Alex Garrett</p>
    </footer>
</body>
<script src="{% static 'blog/js/posts.js' %}"></script>
<script src="{% static 'blog/js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
</html>