body {
    margin: 0;
    background-color: hsl(0, 0%, 95%);
}
a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}
a:hover {
    text-decoration: underline;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}

header {
    height: 200px;
    margin: 0;
    background-color: hsl(150, 64%, 35%);
    color: hsl(0, 0%, 95%);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
header > h1 {
    margin: 0;
    font-size: 3.0em;
    position: relative;
    top: 20%;
    text-shadow: 3px 3px 25px rgba(0,0,0,0.2);
}
header > h2 {
    margin: 0;
    position: relative;
    top: 22%;
    text-shadow: 3px 3px 25px rgba(0,0,0,0.2);
}
nav {
    background-color: black;
    color: hsl(0, 0%, 95%);
    text-align: center;
    font-family: 'Railway', sans-serif;
    height: 35px;
}
.navlink {
    color: hsl(0, 0%, 95%);
    margin: 7px;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}
.navlink:hover {
    color: hsl(150, 64%, 55%);
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "main" "sidebar";
    margin: 10px 5vw 10px 5vw;
    font-family: 'Railway', sans-serif;
}
.articles {
    display: flex;
    flex-direction: column;
    grid-area: "main";
}
.sidebar {
    display: flex;
    flex-direction: column;
    grid-area: "sidebar";
    justify-self: center;
    align-self: start;
    justify-content: center;
    align-content: start;
}
article {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 0px 6px 25px rgba(0,0,0,0.2);
    padding: 5px 20px 5px 20px;
    margin: 0 0 20px 0;
}
.categories, .about {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 0px 6px 25px rgba(0,0,0,0.2);
    padding: 10px;
    margin: 0 0 20px 0;
    width: 200px;
}

article > h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.0em;
}
.categories > h1, .about > h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}
.about > h2 {
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
}

.readmore {
    width: 100px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    background-color: hsl(150, 64%, 30%);
    color: hsl(0, 0%, 95%);
    border: 3px solid hsl(150, 64%, 30%);
    border-radius: 5px;
}
.readmore:hover {
    background-color: hsl(150, 64%, 35%);
    border: 3px solid hsl(150, 64%, 35%);
}

.pagination {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "previous" "next";
    margin-bottom: 20px;
}
.previous-page {
    text-align: left;
    grid-area: "previous";
}
.next-page {
    text-align: right;
    grid-area: "next";
}

footer {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 95%);
    text-align: center;
    margin: 0;
    font-family: 'Railway', sans-serif;
    height: 100px;
}
footer > p {
    margin: 0;
}

span.code-comment {
    color: #6a993e
}

span.code-comment > * {
    color: #6a993e !important;
}

span.code-string {
    color: #ce9178;
}

span.code-string > * {
    color: #ce9178 !important;
}

span.code-object {
    color: #40c3a6;
}

span.code-function {
    color: #dcdcaa;
}

span.code-control {
    color: #c586c0;
}

span.code-keyword {
    color: #569cd6;
}

code {
    color: #A30200;
    background-color: hsl(0, 0%, 96%);
}
pre {
    background-color: #1e1e1e;
    padding: 25px 15px 25px 15px;
    width: 49vw;
    overflow: auto;
}
pre > code {
    color: #c9d4d4;
    background-color: transparent;
}

.start-hidden {
    display: none;
}

@media (max-width: 770px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "main",
            "sidebar";
    }
    .sidebar {
        justify-self: start;
    }
    .about, .categories {
        width: 80vw;
        padding: 5px 20px 5px 20px;
    }
    article {
        width: 80vw;
    }
    pre {
        width: 90%;
    }
}